@page "/"
@using _1C.Data;
@inject db_connection db_connection;

<PageTitle>1C:Предприятие</PageTitle>

<h1>1C:Предприятие</h1>

<AgentComponent></AgentComponent>
<PurchaseInvoiceComponent></PurchaseInvoiceComponent>
